$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Nunito Sans', sans-serif;
$text-color: #000;
$primary-color: #2F327D;
$secondary-color: #F48C06;
$third-color: #65DAFF;
$gray: #696984;
$gray-light: #6c6c6c;
$gray-dark: #464646;
$gray-darker: #252641;
$purple: #5b72ee;
$pink-light: #FFF2E1;
$blue: #29b9e7;
$wrapper : 1920px;
$box-shadow-color: rgb(208, 175, 175);
// $gray-lighter-color: #dddddd;